/* Global Styling */
body {
    background-color: #101828;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e5e3df;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 1.12rem;
}

section h2 {
    border-bottom: 2px solid #e5e3df;
    display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

/* Navigation Styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
    background-color: rgba(30, 41, 57, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    font-size: 16px;
    font-weight: bold;
    color: #e5e3df;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
    position: relative;
}

nav a:hover {
    color: #46A9E0;
    border-bottom: 2px outset #e5e3df;
}

a.selected {
    color: #46A9E0;
    border-bottom: 2px outset #e5e3df;
}

/* Header Section Styles */
.header-container {
    border: #46A9E0 solid 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
    width: 75vw;
    align-items: center;
    margin: 50px auto 10px;
    background-image: url("images/magium-recrystal.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header-container::before {
    content: "";
    border-radius: 10px;
    position: absolute;
    display: flex;
    height: 75vh;
    width: 75vw;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.header-content, .header-button {
    z-index: 1;
    text-shadow: 0.1rem 0.1rem black;
}

/* Header Section Styles - Button */
header button {
    border: 3px solid #e5e3df;
    border-radius: 0.3rem;
    background-color: transparent;
    padding: 0.75rem;
    font-size: 1.4rem;
    color: #e5e3df;
    transition: 0.1s;
}

header button:hover {
    border: 5px solid #a5a39f;
    color: #46A9E0;
    text-shadow: 0.2rem 0.2rem black;
    box-shadow: 0.2rem 0.2rem black;
    background-color: rgba(30, 41, 57, 0.5);
}

header button:active {
    transform: translate(1px, 3px);
    text-shadow: none;
    box-shadow: none;
}

/* IDs and Classes */
#introduction {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    width: 50%;
    max-width: 750px;
    margin-inline: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#description {
    line-height: 1.6;
}
