body {
    background-color: #101828;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e5e3df;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.4rem;
}

section h2 {
    border-bottom: 2px solid #e5e3df;
    display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#introduction {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    width: 50%;
    max-width: 750px;
    margin-inline: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#description {
    line-height: 1.6;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px auto 0px;
    width: fit-content;
}

/* Navigation Styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
    background-color: rgba(30, 41, 57, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    font-size: 16px;
    font-weight: bold;
    color: #e5e3df;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
    position: relative;
}

nav a:hover {
    color: #46A9E0;
    border-bottom: 2px outset #e5e3df;
}

a.selected {
    color: #46A9E0;
    border-bottom: 2px outset #e5e3df;
}